</table>
<table width="700" cellpadding="3" cellspacing="1">
	<tr>
		<td align="right">
			Summa:<br />
			Käibemaks:<br />
			<strong>Summa kokku:</strong>
		</td>
		<td align="right" width="100">
			<%= number_with_precision( total_net, :precision => 2 ) %> €<br />
			<%= number_with_precision( total_tax, :precision => 2 ) %> €<br />
			<strong><%= number_with_precision( total, :precision => 2 ) %> €</strong>
		</td>
	</tr>
</table>

<p>Täname tellimuse eest!</p>
<p>NB! Palun märkige ülekande selgitusse täpne arve number.</p>
<p>Probleemide korral kirjutage: <%= Rails.configuration.accountant_mail %></p>

<hr width="700" align="left">

<table width="700">
	<tr>
		<td width="33%">
			MTÜ Huumus<br>
			Kruusamäe 9<br>
			50304 Tartu
		</td>
		<td align="center" width="33%">
			Reg. nr: 80284098<br>
			Telefon: +372 52 84 627<br>
			E-post: tonis@schilling.ee
		</td>
		<td align="right" width="33%">
			a/a: 221046129449<br>
			Pank: Swedbank<br>
			KMKR: EE101582799
		</td>
	</tr>
</table>