	<tr>
		<td colspan="3"></td>
		<td colspan="2"><strong>Summa kokku:</strong></td>
		<td align="center"><strong><%= total %></strong></td>
	</tr>
</table>

<p>MTÜ Huumus ei ole käibemaksukohustuslane.</p>
<p>Täname tellimuse eest!</p>
<p>NB! Märkige ülekandele täpne arve number.</p>
<p>Probleemide korral saatke e-kiri aadressile plah@schilling.ee</p>

<hr width="700" align="left">

<table width="700">
	<tr>
		<td>
			MTÜ Huumus<br>
			Kruusamäe 9<br>
			50304 Tartu
		</td>
		<td align="center">
			Reg. nr: 80284098<br>
			Telefon: +372 52 84 627<br>
			E-post: snafu@kohviradio.com
		</td>
		<td align="right">
			a/a: 221046129449<br>
			Pank: Swedbank<br>
			Kood: 767
		</td>
	</tr>
</table>